{{!-- /**
 * @name : 툴팁
 * @description : 툴팁 컴포넌트
 * @property
 *  - tip-class : 팁타입 추가 class
 *  - h-class : 팁버튼 추가 class
 *  - title : content title
 * 	- text : content 내용
 */
 --}}

<div class="tip_item{{#if tip-item}} {{tip-item}}{{/if}}">
	<span class="tip_inner">
		{{#if hash-h}}<h3 class="hash_h">{{{hash-h}}}</h3>{{/if}}
		{{#if hash-tit}}<span class="hash_tit">{{{hash-tit}}}</span>{{/if}}
		<span class="tip_wrap{{#if tip-class}} {{tip-class}}{{/if}}">
			<span class="tip_head{{#if h-class}} {{h-class}}{{/if}}">
				<button type="button" class="btn_tip" aria-expanded="false" aria-controls="{{{tip-id}}}"><span class="blind">툴팁 열기</span></button>
			</span>
			<span class="tip_panel" role="tooltip" id="{{{tip-id}}}" aria-hidden="true">
				<span class="tip_cont">
					<span class="tip_title">{{title}}</span>
					<span class="tip_contents">
					{{#if text}}
						{{{text}}}
					{{else}}
						{{> @partial-block }}
					{{/if}}
					</span>
					<button type="button" class="tip_close"><span class="blind">툴팁 닫기</span></button>
				</span>
			</span>
		</span>
	</span>
</div>